* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(107, 186, 97);
  background: rgb(0, 14, 255);
  background: linear-gradient(
    202deg,
    rgb(15 28 255) 0%,
    rgb(109 107 235) 52%,
    rgb(23 0 255) 100%
  );
  height: 110vh;

  display: grid;
  place-items: center;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

body {
  padding: 5px;
}
label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
th {
  padding-top: 10px;
  text-align: left;
}
td {
  padding: 2px;
  padding-right: 40px;
}
.brdr-red {
  border: 2px solid red;
}

.brdr-blue {
  border: 2px solid blue;
}

.brdr-green {
  border: 2px solid green;
}

.padding-1 {
  padding: 0.5rem;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 0.5rem;
}
th,
td {
  /* background-color: #c7d1d1; */
}
.userSelectionNone {
  user-select: none;
}
th[colspan="2"] {
  text-align: center;
}
